#EntryForm {
    display:none;
    margin-right: auto;
    margin-left: auto;
  }

#text-box {
    border: 2px solid black; 
    border-radius: 10px;
}

#toggleNoteEntry{
    width: 5rem;
}

#komplett {
    width: 60rem; 
    text-align: center;
}